<script>
function ServletDemoAdd(){
var num1 = $('#num1').val();
var num2 = $('#num2').val();
$.ajax({
url     : '/bin/pages',
method     : 'GET',
data     : {num1 : num1,num2 : num2},
success    : function(resultText){
$('#result').text(resultText);
},
error : function(jqXHR, exception){
console.log('Error occured!!');
}
});
}
</script>

<br>
  <label for="val1">Enter First Number:</label><br>
  <input type="number" id="num1" name="num1" placeholder="Enter a number"><br><br>
  <label for="val2">Enter Second Number:</label><br>
  <input type="number" id="num2" name="num2" placeholder="Enter a number"><br><br>
  <input type="submit" value="Submit" onclick="ServletDemoAdd()">

<br><br>
<p>Addition:- </p>
<h3 id="result"></h3>  